<div class="container">
  <div class="row">
    <div class="col">
    <%= form_with model: @customer,url: public_customers_path(@customer), local:true do |f| %>
      <h4 class="m-4 text-center bg-light w-25">会員詳細編集</h4>
        <div class="sign-name d-flex w-75">
          <p style="width:40%; d-flex;">名前</p>
          <p><%= f.text_field :first_name %></p>
          <p class="mx-4"><%= f.text_field :last_name %></p>
        </div>

        <div class="sign-name-kana d-flex w-75">
          <p style="width:40%; d-flex">フリガナ</p>
          <p><%= f.text_field :first_name_kana %></p>
          <p class="mx-4"><%= f.text_field :last_name_kana %></p>
        </div>

        <div class="email d-flex w-75">
          <p style="width:40%; d-flex">メールアドレス</p>
          <p><%= f.email_field :email %></p>
        </div>

        <div class="postal_code d-flex w-75">
          <p style="width:40%">郵便番号(ハイフンなし)</p>
          <p><%= f.text_field :postal_code %></p>
        </div>

        <div class="address d-flex w-75">
          <p style="width:40%">住所</p>
          <p><%= f.text_field :address %></p>
        </div>

        <div class="telephone_number d-flex w-75">
          <p style="width:40%">電話番号</p>
          <p><%= f.text_field :telephone_number %></p>
        </div>

        <div class="field d-flex w-75">
          <p style="width:40%">パスワード(6文字以上)</p>
          <p><%= f.password_field :password %>
        </div>

        <div class="field d-flex w-75">
          <p style="width:40%">パスワード確認用</p>
          <p><%= f.password_field :password_confirmation %></p>
        </div>

        <div class="customer-item d-flex justify-content-around w-75 mt-3">
          <div class="actions">
            <%= f.submit "編集内容を保存",class: "btn btn-success" %>
          </div>
          <div class="customer-delete">
            <%= link_to '退会する',public_customers_unsubscribe_path(@customer),class: "btn btn-danger" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>