<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "customers/shared/error_messages", resource: resource %>
<div class="containaer">
  <div class="row">
    <div class="col">
      <div class="sign">
        <h1>新規登録</h1>
          <div class="sign-name">
            <p>名前</p>
            <p><%= f.text_field :first_name,:placeholder => "田村"%></p>
            <p><%= f.text_field :last_name,:placeholder => "透人" %></p>
          </div>

          <div class="sign-name-kana">
            <p>フリガナ</p>
            <p><%= f.text_field :first_name_kana,:placeholder => "タムラ" %></p>
            <p><%= f.text_field :last_name_kana,:placeholder => "ユキト" %></p>
          </div>

          <div class="email">
            <p>メールアドレス</p>
            <p><%= f.email_field :email,:placeholder => "tourentiancun@gmail.com" %></p>
          </div>

          <div class="postal_code">
            <p>郵便番号(ハイフンなし)</p>
            <p><%= f.text_field :postal_code, :placeholder => "00000000" %></p>
          </div>

          <div class="address">
            <p>住所</p>
            <p><%= f.text_field :address %></p>
          </div>

          <div class="telephone_number">
            <p>電話番号</p>
            <p><%= f.text_field :telephone_number %></p>
          </div>

          <div class="field">
            <p>パスワード(6文字以上)</p>
            <%= f.password_field :password %>
          </div>

          <div class="field">
            <p>パスワード確認用</p>
            <p><%= f.password_field :password_confirmation %></p>
          </div>
          <div class="actions">
            <%= f.submit "新規登録" %>
          </div>
          <% end %>
            <div class="sign_in">
              <h4>既に登録済みの方</h4>
              <p><%= link_to 'こちら',new_customer_session_path %>ログインしてください</p>
            </div>
      </div>
    </div>
  </div>
</div>


