<div class="container">
   <div class="row">
     <div class="col">
       <div class="new-item">
         <div class="item-title"  style="width:20%;">
           <h4 class="m-4 text-center bg-light">商品編集</h4>
         </div>
          <div class="item-list mx-auto" style="width:50%;">
            <%= form_with model: @item,url: admin_item_path, local:true do |f| %>
            <div class="item-img d-flex justify-content-between">
              <p>商品画像</p>
              <p class="mr-4"><%= f.attachment_field :image %></p>
            </div>
              <div class="item-name d-flex justify-content-between">
                <p>商品名</p>
                <p><%= f.text_field :name,:style=> "padding-left:100px; margin-right:80px;" %></p>
              </div>
                <div class="item-introduction d-flex justify-content-between">
                  <p>商品説明</p>
                  <p><%= f.text_area :introduction,:style=> "padding:47px; margin-right:80px;" %></p>
                </div>
                  <div class="item-gernre d-flex justify-content-between">
                    <p>ジャンル</p>
                    <p style = "margin-right:80px;"><%= f.select :genre_id,options_from_collection_for_select(@genres, :id, :name) %></p>
                  </div>
                    <div class="item-price d-flex justify-content-between">
                      <p>税抜価格</p>
                      <p><%= f.text_field :price,:style=> "padding-left:100px; margin-right:80px;"  %></p>
                    </div>
                      <div class="check_box_tag d-flex justify-content-between">
                        <p>販売ステータス</p>
                          <p>
                          <%= f.radio_button :is_active, :true %>
                          <%= label_tag :is_active, "販売中" %>
                          </p>
                            <p style="margin-right:150px;">
                            <%= f.radio_button :is_active, :false %>
                            <%= label_tag :is_active, "販売停止中" %>
                            </p>
                      </div>
                        <div class="item-link text-center">
                          <%= f.submit '変更を保存',class: "btn btn-success" %>
                        </div>
                <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>