<div class="container">
   <div class="row">
     <div class="col">
       <div class="new-item">
         <div class="item-title"  style="width:20%;">
           <h4 class="m-4 text-center bg-light">商品新規登録</h4>
         </div>
          <div class="item-list mx-auto" style="width:80%;">
            <%= form_with model: @item,url: admin_items_path, local:true do |f| %>
            <div class="item-img d-flex">
              <p>商品画像</p>
              <p><%= f.attachment_field :image %></p>
            </div>
              <div class="item-name d-flex">
                <p>商品名</p>
                <p><%= f.text_field :name %></p>
              </div>
                <div class="item-introduction d-flex">
                  <p>商品説明</p>
                  <p><%= f.text_area :introduction %></p>
                </div>
                  <div class="item-gernre d-flex">
                    <p>ジャンル</p>
                    <p><%= f.select :genre_id,options_from_collection_for_select(@genres, :id, :name) %></p>
                  </div>
                    <div class="item-price d-flex">
                      <p>税抜価格</p>
                      <p><%= f.text_field :price %></p>
                    </div>
                      <div class="check_box_tag">
                        <%= f.radio_button :is_active, :true %>
                        <%= label_tag :is_active, "販売中" %>
                        <%= f.radio_button :is_active, :false %>
                        <%= label_tag :is_active, "販売停止中" %>
                      </div>
                    </div>
              <%= f.submit '新規登録' %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>