<div class="container">
  <div class="row">
    <div class="col">
      <div class="sign w-75">
        <%= form_with model: @customer,url: admin_customer_path(@customer.id), local:true do |f| %>
          <div class="customer-edit-title" style="width:40%;">
            <h4 class="bg-light m-4"><%= @customer.first_name + @customer.last_name %>さんの会員情報編集</h4>
          </div>
              <div class="sign-name d-flex justify-content-between">
                <p>名前</p>
                <div class="customer-name d-flex">
                  <p><%= f.text_field :first_name,:placeholder => "田村"%></p>
                  <p><%= f.text_field :last_name,:placeholder => "透人", class: "ml-4" %></p>
                </div>
              </div>

              <div class="sign-name-kana d-flex justify-content-between">
                <p>フリガナ</p>
                <div class="customer-kana d-flex">
                  <p><%= f.text_field :first_name_kana,:placeholder => "タムラ" %></p>
                  <p><%= f.text_field :last_name_kana,:placeholder => "ユキト", class: "ml-4" %></p>
                </div>
              </div>

              <div class="postal_code d-flex justify-content-between">
                <p>郵便番号(ハイフンなし)</p>
                <p><%= f.text_field :postal_code, :placeholder => "00000000",:style=> "margin-right:200px;" %></p>
              </div>

              <div class="address d-flex justify-content-between">
                <p>住所</p>
                <p><%= f.text_field :address,:style=> "margin-right:200px;" %></p>
              </div>

              <div class="telephone_number d-flex justify-content-between">
                <p>電話番号</p>
                <p><%= f.text_field :telephone_number,:style=> "margin-right:200px;" %></p>
              </div>

              <div class="email d-flex justify-content-between">
                <p>メールアドレス</p>
                <p><%= f.email_field :email,:placeholder => "tourentiancun@gmail.com",:style=> "margin-right:200px;" %></p>
              </div>

              <div class="customer-is_active d-flex">
                <p>会員ステータス</p>
                    <div class="d-flex" style="margin-left:30%;">
                      <p><%= f.radio_button :is_active, true %></p>
                      <p><%= label_tag :is_active, "有効" %></p>
                    </div>
                      <div class="d-flex"   style="margin-left:5%;">
                        <p><%= f.radio_button :is_active, false %></p>
                        <p><%= label_tag :is_active, "退会",:style=> "margin-right:200px;" %></p>
                      </div>
              </div>
              <div class="actions mt-4" style="margin-left:30%;">
                <%= f.submit "変更を保存",class: "btn btn-success" %>
              </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


