<div class="container">
  <div class="row">
    <div class="col m-3">
      <div class="customer-show">
        <div class="customer-title" style="width:30%;">
          <h4 class="m-4 text-center bg-light"><%= @customer.first_name + @customer.last_name %>さんの会員ん詳細</h4>
        </div>
          <div class="customer-profile w-50 text-left">
            <div class="customer-id d-flex">
              <p class="my-2 mx-4 flex-fill w-50">会員ID</p>
              <p class="my-2"><%= @customer.id %></p>
            </div>
              <div class="customer-name d-flex">
                <p class="my-2  mx-4 flex-fill w-50">氏名</p>
                <p class="my-2"><%= @customer.first_name + @customer.last_name %></p>
              </div>
                <div class="customer-name d-flex">
                  <p class="my-2  mx-4 flex-fill w-50">フリガナ</p>
                  <p class="my-2"><%= @customer.first_name_kana + @customer.last_name_kana %></p>
                </div>
                  <div class="customer-name d-flex">
                    <p class="my-2  mx-4 flex-fill w-50">住所</p>
                    <p class="my-2"><%= @customer.address %></p>
                  </div>
                    <div class="customer-name d-flex">
                      <p class="my-2  mx-4 flex-fill w-50">電話番号</p>
                      <p class="my-2"><%= @customer.telephone_number %></p>
                    </div>
                      <div class="customer-name d-flex">
                        <p class="my-2  mx-4 flex-fill w-50">メールアドレス</p>
                        <p class="my-2"><%= @customer.email %></p>
                      </div>
                        <div class="customer-name d-flex">
                          <p class="my-2  mx-4 flex-fill">会員ステータス</p>
                          <% if @customer.is_active == true %>
                            <p class="my-2  text-success">有効</p>
                          <% else %>
                            <p class="my-2 text-success">退会</p>
                          <% end %>
                        </div>
          </div>
            <div class="customer-edit d-flex w-50 justify-content-center my-4">
              <div class="customer-link"><%= link_to '編集する', edit_admin_customer_path(@customer), class: "btn btn-success mx-4" %></div>
              <%= form_with url: admin_root_path,method: :get, local:true do |f| %>
              <%= f.hidden_field :customer_id,:value => @customer.id %>
                <div class="submit"><%= f.submit '注文一覧',class: "btn btn-primary mx-4" %></div>
              <% end %>
            </div>
      </div>
    </div>
  </div>
</div>