<div class="container">
  <div class="row">
    <div class="col">
      <h4>注文履歴一覧</h4>
        <div class="customer-profile">
          <div class="customer-name">
            <p>購入者</p>
            <p><%= @order.customer.first_name + @order.customer.last_name %></p>
          </div>
            <div class="customer-update">
              <p>注文日</p>
              <p><%= @order.updated_at.strftime('%Y/%m/%d %H:%M:%S') %></p>
            </div>
              <div class="customer-address">
                <p><%= @order.delivery_postal_code + @order.delibery_address %><br/>
                  <%= @order.delivery_name %>
                </p>
              </div>
                <div class="method_of_payment">
                  <p>支払い方法</p>
                  <% if @order.method_of_payment == 'A' %>
                    <p>クレジットカード</p>
                  <% else %>
                    <p>銀行振り込み</p>
                  <% end %>
                </div>
                   <%= form_with model: @order,url: admin_order_path(@order.id), local:true do |f| %>
                    <div class="customer-is_active">
                      <p>注文ステータス</p>
                      <p><%= f.select :is_active, Order.is_actives.keys.map %></p>
                      <p><%= f.submit  "更新" %></p>
                    </div>
                  <% end %>
          </div>
            <table class="table">
              <thead>
                <tr>
                  <th>商品名</th>
                  <th>単価（税込）</th>
                  <th>数量</th>
                  <th>小計</th>
                  <th>制作ステータス</th>
                </tr>
              </thead>
                <tbody>
                  <% @order_items.each do |order_item| %>
                  <tr>
                    <td><%= order_item.item.name %></td>
                    <td><%= order_item.buy_price %></td>
                    <td><%= order_item.quantity %></td>
                    <td><%= order_item.buy_price * order_item.quantity %></td>
                    <td>
                      <%= form_with model: order_item,url:  admin_order_item_path(order_item.id), local:true do |f| %>
                        <p><%= f.select :is_active, OrderItem.is_actives.keys.map %></p>
                        <p><%= f.submit '更新' %></p>
                      <% end %>
                    </td>
                  </tr>
                  <% end %>
                </tbody>
            </table>
        </div>
    </div>
  </div>
</div>