<div class="container">
  <div class="row">
    <div class="col">
      <div class="cart-all">
        <div class="cart-title d-flex justify-content-between">
          <h4 class="m-4 text-center bg-light w-25">ショッピングカート</h4>
          <p><%= link_to "削除", public_cart_items_destroy_all_path(@cart_items), method: :delete, class: "btn btn-danger m-4" %></p>
        </div>
            <table class="table">
              <thead>
                <tr>
                  <th class="border border-dark">商品名</th>
                  <th class="border border-dark">単価</th></th>
                  <th class="border border-dark">数量</th>
                  <th class="border border-dark">小計</th>
                  <th class="border border-dark"></th>
                </tr>
              </thead>
                <tbody>
                  <% @sum = 0 %>
                  <% @cart_items.each do |cart_item| %>
                    <tr>
                      <td class="border border-dark">
                        <%= attachment_image_tag cart_item.item, :image, size: "60x40",class: "mr-3"%>
                        <%= cart_item.item.name %>
                      </td>
                      <td class="border border-dark"><%= (cart_item.item.price * @tax ).to_i %></td>
                      <td class="border border-dark">
                        <%= form_with model: cart_item,url: public_cart_item_path(cart_item.id), local:true do |f| %>
                          <%= f.number_field(:amount, in: 1..100) %>
                          <%= f.submit '変更',class: "btn btn-success ml-4" %>
                        <% end %>
                      </td>
                      <td class="border border-dark"><%= ((cart_item.item.price * @tax) * (cart_item.amount)).to_i %> </td>
                      <% @sum = ( @sum + (cart_item.item.price * @tax) * (cart_item.amount)).to_i %>
                      <td class="border border-dark"><%= link_to "削除",public_cart_item_path(cart_item.id), method: :delete,class: " btn btn-danger" %></td>
                    </tr>
                  <% end %>
                </tbody>
            </table>
              <div class="cart-item-item d-flex justify-content-between">
                <div class="shopping">
                  <p><%= link_to '買い物を続ける', public_items_path, class: "btn btn-primary" %></p>
                </div>
                  <table class="table w-25">
                    <tbody>
                      <tr>
                        <td class="border border-dark bg-light">合計金額</td>
                        <td class="border border-dark"><%= @sum %></td>
                      </tr>
                    </tbody>
                  </table>
              </div>
                    <div class="order-link text-center">
                      <%= link_to "情報入力に進む" ,  new_public_order_path, class: "btn btn-success" %>
                    </div>
      </div>
    </div>
  </div>
</div>