<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="containaer">
    <div class="row">
      <div class="col">
        <div class="login w-75 mx-auto">
          <h4 class="m-4 text-center bg-light w-25">ログイン</h4>
          <p class="m-4 text-center bg-light w-25">会員方はこちらからログイン</p>
            <div class="email d-flex justify-content-center">
              <p class="m-2">メールアドレス</p>
              <div class="m-2"><%= f.email_field :email,:placeholder => "email" %></div>
            </div>
              <div class="field d-flex justify-content-center">
                <p class="m-2">パスワード</p>
                <div class="m-2"><%= f.password_field :password, autocomplete: "current-password" %></div>
              </div>
                <div class="actions text-center">
                  <%= f.submit "ログイン",class: "btn btn-primary m-4" %>
                </div>
                  <div class="login-item">
                    <p class="m-4 text-center bg-light w-25">会員登録がお済みでないかた</p>
                    <p><%= link_to 'こちら',new_customer_registration_path %>から新規登録を行ってください</p>
                    </div>
                  </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
