<div class="container">
  <div class="row">
    <div class="col">
      <div class="order-item-title">
        <h4 class="m-4 text-center bg-light w-25">注文情報確認</h4>
      </div>
      <div class="table d-flex m-4">
        <table class="table m-4">
          <thead>
            <tr>
              <th class="border border-dark">商品名</th>
              <th class="border border-dark">単価(税込)</th>
              <th class="border border-dark">数量</th>
              <th class="border border-dark">小計</th>
            </tr>
          </thead>
            <tbody>
              <% @cart_item_sum = 0 %>
              <% @cart_items.each do |cart_item| %>
              <tr>
                <td class="d-flex border border-dark">
                  <%= attachment_image_tag cart_item.item, :image, size: "60x40" %>
                  <p class="ml-2 mt-2"><%= cart_item.item.name %></p>
                </td>
                <td class="border border-dark" style="padding:20px;"><%= (cart_item.item.price * @tax ).to_i %></td>
                <td class="border border-dark" style="padding:20px;"><%= cart_item.amount %></td>
                <td class="border border-dark" style="padding:20px;"><%= ((cart_item.item.price * @tax) * (cart_item.amount)).to_i %></td>
              </tr>
              <% @cart_item_sum += ((cart_item.item.price * @tax) * (cart_item.amount)).to_i %>
              <% end %>
            </tbody>
        </table>
          <table class="table m-4">
            <thdad>
              <tr>
                <td class="border border-dark">送料</td>
                <td class="border border-dark"><%= @order.shopping %></td>
              </tr>
                <tr>
                  <td class="border border-dark">商品合計</td>
                  <td class="border border-dark"><%= @cart_item_sum  %></td>
                </tr>
                  <tr>
                    <td class="border border-dark">請求金額</td>
                    <td class="border border-dark"><%= @cart_item_sum + @order.shopping  %></td>
                  </tr>
            </thdad>
          </table>
        </div>
          <div class="method_of_payment d-flex">
            <h5 class="font-weight-bold mr-4">支払い方法</h5>
            <% if @order.method_of_payment == 'A' %>
              <p>クレジットカード</p>
            <% else %>
              <p>銀行振り込み</p>
            <% end %>
          </div>
            <div class="address d-flex">
              <h5 class="font-weight-bold mr-4">お届け先</h5>
              <%= @order.delivery_postal_code + "　" +  @order.delibery_address  %>
              <%= @order.delivery_name %>
            </div>
              <%= form_with model: @order,url: public_orders_path(@order), local:true do |f| %>
              <div class="order-link m-4 text-center">
                <%= f.hidden_field :billing_amount, :value => @cart_item_sum + @order.shopping %>
                <%= f.hidden_field :delivery_postal_code, :value => @order.delivery_postal_code %>
                <%= f.hidden_field :delibery_address, :value => @order.delibery_address %>
                <%= f.hidden_field :delivery_name, :value => @order.delivery_name %>
                <%= f.hidden_field :shopping, :value => @order.shopping %>
                <%= f.hidden_field :updated_at, :value => Time.now %>
                <%= f.submit '注文を確定する', class: "btn btn-success" %>
              </div>
              <% end %>
    </div>
  </div>
</div>