<div class="container">
  <div class="row">
    <div class="col">
      <h4>注文履歴一覧</h4>
      <div class="order-title">
        <table class="table">
          <thead>
            <tr>
              <th>注文日</th>
              <th>配送先</th>
              <th>注文商品</th>
              <th>支払金額</th>
              <th>ステータス</th>
              <th>注文詳細</th>
            </tr>
          </thead>
            <tbody>
              <% @orders.each do |order| %>
              <tr>
                <td><%= order.updated_at.strftime('%Y/%m/%d %H:%M:%S') %></td>
                <td>
                  <%= order.delivery_postal_code %>
                  <%= order.delibery_address %>
                  <%= order.delivery_name  %>
                </td>
                <td>
                  <% order.order_items.each do |order_item| %>
                    <%= order_item.item.name %>
                  <% end %>
                  </td>
                <td><%= order.billing_amount %></td>
                <td>
                  <% if order.is_active == 0 %>
                    <p>入金待ち</p>
                  <% elsif order.is_active == 1 %>
                    <p>入金確認</p>
                  <% elsif order.is_active == 2 %>
                    <p>製作中</p>
                  <% elsif order.is_active == 3 %>
                    <p>発送準備中</p>
                  <% else %>
                    <p>発送済み</p>
                  <% end %>
                </td>
                  <td><%=link_to '表示する', public_order_path(order.id) %></td>
              </tr>
              <% end %>
            </tbody>
        </table>
          <di
      </div>
      </div>
  </div>
</div>