<div class="container">
  <div class="row">
    <div class="col">
      <div class="order-title">
        <h4 class="m-4 text-center bg-light w-25">注文情報入力</h4>
      </div>
        <%= form_with model: @order,url: public_orders_confirm_path, local:true do |f| %>
          <div class="payment-method">
            <h5 class="font-weight-bold">支払い方法</h5>
              <div class="method_of_payment_item m-4">
                <div class="true d-flex">
                  <div><%= f.radio_button :method_of_payment, 'A',checked: true %></div>
                  <div><%= label_tag :method_of_payment, "クレジットカード" %></div>
                </div>
                  <div class="false d-flex">
                    <div><%= f.radio_button :method_of_payment, 'B' %></div>
                    <div><%= label_tag :method_of_payment, "銀行振込" %></div>
                  </div>
              </div>
          </div>
            <div class="order-list">
              <h5 class="font-weight-bold">お届け先</h4>
                <div class="method_of_payment_item">
                  <div class="order-item1 m-3">
                    <div class="radio-0 d-flex">
                      <div><%= f.radio_button :address_option, 0,checked: true %></div>
                      <div><%= f.label :address_option, "ご自身の住所" %></div>
                    </div>
                        <div class="ml-4"><%= @customer.postal_code + "　" + @customer.address %></div>
                        <div class="ml-4"><%=  @customer.full_name %></div>
                  </div>

                    <div class="order-item2 m-3">
                      <div class="radio-0 d-flex">
                        <div><%= f.radio_button :address_option, 1 %></div>
                        <div><%= f.label :address_option,"登録済み住所から選択" %></div>
                      </div>
                        <div class="ml-4"><%= f.select :address_id,options_from_collection_for_select(@address, :id, :full_address) %></div>
                    </div>

                      <div class="order-item3 m-3">
                        <div class="radio-0 d-flex">
                          <div><%= f.radio_button :address_option, 2 %></div>
                          <div><%= f.label :address_option,"新しいお届け先" %></div>
                          </div>
                          <div class="delivery_new ml-4">
                            <div class="postal_code d-flex">
                              <p class="mr-4">郵便番号(ハイフンなし)</p>
                              <p><%= f.text_field :delivery_postal_code,:placeholder => "4770035" %></p>
                            </div>
                              <div class="postal_code d-flex">
                                <p class="mr-4">住所</p>
                                <p><%= f.text_field :delibery_address,:placeholder => "愛知県"  %></p>
                              </div>
                                 <div class="naem d-flex">
                                  <p class="mr-4">宛名</p>
                                  <p><%= f.text_field :delivery_name,:placeholder => "田村愛香" %></p>
                                </div>
                            </div>
                      </div>
                </div>
                <div class="order-link text-center">
                  <%= f.hidden_field :shopping, :value => 800 %>
                  <%= f.submit '確認画面に進む',class: "btn btn-primary" %>
                </div>
            </div>
        <% end %>
    </div>
  </div>
</div>

