<div class="container">
  <div class="row">
    <div class="col">
      <div class="order-title">
        <h4>注文情報入力</h4>
      </div>
        <%= form_with model: @order,url: public_orders_confirm_path, local:true do |f| %>
          <div class="payment-method">
            <h4>支払い方法</h4>
            <div class="method_of_payment_item">
              <%= f.radio_button :method_of_payment, 0 %>
              <%= label_tag :method_of_payment, "クレジットカード" %>
              <%= f.radio_button :method_of_payment, 1 %>
              <%= label_tag :method_of_payment, "銀行振込" %>
            </div>
          </div>
            <div class="order-list">
              <h4>お届け先</h4>
                <div class="method_of_payment_item">
                  <div class="order-item1">
                    <%= f.radio_button :address_option, 0 %>
                    <%= f.label :address_option, "ご自身の住所" %>
                    <%= @customer.postal_code + "　" + @customer.address %>
                    <%=  @customer.full_name %>
                  </div>
                    <div class="order-item2">
                      <%= f.radio_button :address_option, 1 %>
                       <%= f.label :address_option, "登録済み住所から選択" %>
                      <%= f.select :address_id,options_from_collection_for_select(@address, :id, :full_address) %>
                    </div>
                      <div class="order-item3">
                          <%= f.radio_button :address_option, 2 %>
                          <%= f.label :address_option, "新しいお届け先" %>
                          <%= f.text_field :delivery_postal_code,:placeholder => "4770035" %>
                          <%= f.text_field :delibery_address,:placeholder => "愛知県" %>
                          <%= f.text_field :delivery_name,:placeholder => "田村愛香" %>
                      </div>
                </div>
            </div>
        <% end %>
    </div>
  </div>
</div>

