<div class="container">
  <div class="row">
    <div class="col text-center">
      <div class="item-title">
        <h1 class="d-inline-block">商品一覧</h1>
        <p class="d-inline-block">(全×件)</p>
      </div>
        <% @items.each do |item| %>
          <div class="item-all d-inline-block">
            <p><%= attachment_image_tag item, :image, size: "200x200",:class=>"m-3"%></p>
              <% if customer_signed_in? %>
                <p><%= link_to item.name,public_item_path(item.id)  %></p>
              <% else %>
                <p><%= link_to item.name,new_customer_registration_path  %></p>
               <% end %>
            <p><%= item.price %></p>
          </div>
        <% end %>
         <div class="page text-center"><%= paginate @items,:class=>"d-block" %></div>
    </div>
  </div>
</div>